<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858776408666-m41pk8449is5e0fjlhg7l22259ola4d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858776408666-m41pk8449is5e0fjlhg7l22259ola4d2</string>
	<key>API_KEY</key>
	<string>AIzaSyBI2UeP0uRp9reKmuXSZlJCXlA5XgcZkpM</string>
	<key>GCM_SENDER_ID</key>
	<string>858776408666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midterm.midterm</string>
	<key>PROJECT_ID</key>
	<string>midterm-cc280</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-cc280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858776408666:ios:16337734449e3972a5fe63</string>
</dict>
</plist>